# Ignore everything
*
!*.sh
!*.bash

# Unignore the .gitignore file itself
!.gitignore

# Unignore specific directories and their contents
!minecraft/
!minecraft/text.txt
!minecraft/mods/
!minecraft/mods/*
!minecraft/resourcepacks/
!minecraft/resourcepacks/*
!minecraft/config/
!minecraft/config/fancymenu/
!minecraft/config/fancymenu/*
